<h2>Create CSV file for Netflix User</h2>

In [2]:
import pandas as pd
import numpy as np

In [4]:
num_rows = 12321

# Create a DataFrame with the specified column names and random data
data = {
    'Age': np.random.randint(18, 71, num_rows),
    'Gender': np.random.choice(['Male', 'Female'], num_rows),
    'Plan': np.random.choice(['Mobile', 'Basic', 'Standard', 'Premium'], num_rows),
    'Payment Method': np.random.choice(['Upi', 'Card', 'Net Banking', 'E-Wallet'], num_rows),
    'User Fav Genre': np.random.choice(['Drama', 'Comedy', 'Action', 'Horror', 'Documentary', 'Thriller', 'Romance'], num_rows),
    'Watch Hour / month': np.random.uniform(180, 210, num_rows),
    'Satisfaction Rate': np.random.uniform(1.0, 5.0, num_rows),
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

In [6]:
df.head()

,Age,Gender,Plan,Payment Method,User Fav Genre,Watch Hour / month,Satisfaction Rate
0,62,Male,Premium,E-Wallet,Comedy,191.554580,4.932150
1,37,Female,Premium,Net Banking,Horror,206.383066,1.791589
2,49,Female,Premium,Net Banking,Action,194.330794,4.496868
3,38,Female,Standard,E-Wallet,Drama,194.012003,1.642422
4,35,Male,Premium,Card,Romance,192.464123,1.363505

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12321 entries, 0 to 12320
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 12321 non-null  int64
 1   Gender              12321 non-null  object
 2   Plan                12321 non-null  object
 3   Payment Method      12321 non-null  object
 4   User Fav Genre      12321 non-null  object
 5   Watch Hour / month  12321 non-null  float64
 6   Satisfaction Rate   12321 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 673.9+ KB

In [10]:
df.shape

(12321, 7)

In [12]:
df.to_csv('netflix_user_data.csv')

<h2>Create CSV file for Netflix Revenue</h2>

In [15]:
num_rows = 12321

# Create a DataFrame with the specified column names and random data
data = {
    'Month': np.random.choice(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], num_rows),
    'Rating': np.random.choice([1, 2, 3, 4, 5], num_rows),
    'Type': np.random.choice(['Movie', 'Series', 'Tv Show'], num_rows),
    'Device Type': np.random.choice(['Mobile', 'Smart Tv', 'Tablet'], num_rows),
    'Country': np.random.choice(['USA', 'India', 'UK', 'Canada', 'Germany', 'Australia', 'Japan', 'Brazil', 'France', 'South Korea'], num_rows),
    'Subscribers': np.random.randint(70000000, 80000001, num_rows),
    'Total Revenue': np.random.uniform(220000000, 240000000, num_rows),
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

In [17]:
df.head()

  Month  Rating     Type Device Type      Country  Subscribers  Total Revenue
0   Feb       4   Series      Mobile       Canada     73363299   2.260020e+08
1   Jan       1  Tv Show      Mobile        Japan     78617964   2.328484e+08
2   May       2  Tv Show    Smart Tv  South Korea     77326284   2.212436e+08
3   Sep       5  Tv Show    Smart Tv        India     73842732   2.337436e+08
4   Oct       4   Series      Mobile       France     79140678   2.293062e+08

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12321 entries, 0 to 12320
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          12321 non-null  object
 1   Rating         12321 non-null  int64
 2   Type           12321 non-null  object
 3   Device Type    12321 non-null  object
 4   Country        12321 non-null  object
 5   Subscribers    12321 non-null  int64
 6   Total Revenue  12321 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 673.9+ KB

In [21]:
df.shape

(12321, 7)

In [23]:
df.to_csv('netflix_revenue_data.csv')